
:root{
    --clr-primary-200: hsl(277, 64%, 61%);
    --clr-primary-400: hsl(244, 38%, 16%);
    --clr-primary-800: hsl(233, 47%, 7%);
   
    --clr-neutral-200: hsl(0, 0%, 100%);
    --clr-neutral-300: hsla(0, 0%, 100%, 0.75);
    --clr-neutral-400: hsla(0, 0%, 100%, 0.6);
        
    --ff-accent: 'Inter', sans-serif;
    --ff-base: 'Lexend Deca', sans-serif;

    --fw-bold: 700;

    --letter-sp: 1.2px;
}

/* Reset */
/*
  1. Use a more-intuitive box-sizing model.
*/
*, *::before, *::after {
    box-sizing: border-box;
}
/*
2. Remove default margin
*/
* {
margin: 0;
}
/*
3. Allow percentage-based heights in the application
*/

/*
Typographic tweaks!
4. Add accessible line-height
5. Improve text rendering
*/
body {
line-height: 1.7;
-webkit-font-smoothing: antialiased;
}
h1, h2, h3{
    line-height: 1.1;
}
/*
6. Improve media defaults
*/
img, picture, video, canvas, svg {
display: block;
max-width: 100%;
}
/*
7. Remove built-in form typography styles
*/
input, button, textarea, select {
font: inherit;
}
/*
8. Avoid text overflows
*/
p, h1, h2, h3, h4, h5, h6 {
overflow-wrap: break-word;
}
/*
9. Create a root stacking context
*/
#root, #__next {
isolation: isolate;
}

/* General Styling */

body{
    font-family: var(--ff-base);
    font-size: 0.9375rem;
    color: var(--clr-neutral-200);
    background-color: var(--clr-primary-800);
    display: grid;
    place-content: center;
    min-height: 100vh;
    margin: 4rem 1rem;
}

a{
    color:var(--clr-neutral-200);
}
ul{
    list-style: none;
    padding: 0;
}

/* Utilities */

.flex-group{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    min-height: 19rem;
}
@media(min-width: 31em)  {
    .flex-group{
        flex-direction: row;
        min-height: auto;
        justify-content: space-between;
        align-items: flex-end;
        padding-right: 2rem;
    }
}


/*  Card Styles  */

.card{
    --content-padding: 1.5rem;
    --content-spacing: 1rem;

    display: grid;
    background-color:var(--clr-primary-400);
    border-radius: 0.5rem;
    overflow: hidden;
}
@media(min-width: 31em)  {
    .card{
        --content-padding: 4rem;

        grid-template-columns: 1fr 1fr;
        max-width: 67rem;
    }
}
.card__image{
    position: relative;
}
@media(min-width: 31em)  {
    .card__image{
        grid-row: 1/2;
        grid-column: 2/3;
    }
}
.card__image ::before{
    content: "";
    height: 100%;
    width: 100%;
    background-color: var(--clr-primary-200);
    position: absolute;
    opacity: 50%;
}
.card__content{
    padding: var(--content-padding);
    display: grid;
    gap: var(--content-spacing);
    text-align: center;
}
@media(min-width: 31em)  {
    .card__content{
        grid-column: 1/2;
        text-align: left;
    }
}

.card__title{
    font-size: 1.8rem;
    font-family: var(--ff-accent);
    letter-spacing: var(--letter-sp);
}
.card__title span{
    color: var(--clr-primary-200);
}
.card__text{
    padding: 0 0.5rem;
    color: var(--clr-neutral-400);
}
@media(min-width: 31em)  {
    .card__text{
        padding: 0 2rem 0 0;
    }
}
.card__list-item-num{
    font-family: var(--ff-accent);
    font-size: 1.5rem;
    font-weight: var(--fw-bold);
    letter-spacing: var(--letter-sp);
}
.card__list-item-data{
    text-transform: uppercase;
    color: var(--clr-neutral-400);
    font-size: 0.8rem;
    letter-spacing: var(--letter-sp);
}
footer{
    text-align: center;
    margin: 1rem;
}
